@model RSPP.Models.ViewModels.PaymentReceiptVM
@{
    ViewBag.Title = "Payment Receipt";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


<br /><br />
<div class="row xrow" style="margin-left:25%">
    <div class="col-md-8 col-md-offset-1">
        <div style="color: gray; font-size: 14px; box-sizing: border-box;">

            <div style="background-color: #ece8d4; width:700px; min-height:200px;">
                <div style="padding: 10px 30px 30px 30px;">
                    @{
                        if (Model.PaymentStatus == "AUTH")
                        {
                            <h3 style="color: green; text-align: center; font-weight: 300; padding-bottom: 8px; border-bottom: 1px solid #ddd;"><b>Transaction Success</b></h3>
                        }
                        else if (Model.PaymentStatus == "INIT")
                        {
                            <h3 style="color: blue; text-align: center; font-weight: 300; padding-bottom: 8px; border-bottom: 1px solid #ddd;"><b>Awaiting Payment</b></h3>
                        }

                    }

                    <p style="text-align: right; font-size: 14px;"></p>
                    <div>
                        Details Of The Transaction Is Listed Below: <br /><br />
                        <ul>
                            <li>Application ID: @Model.ApplicationId</li>
                            <li>Remita Reference: @Model.RRR</li>
                            <li>Total Amount: @Model.TotalAmount</li>
                            <li>Application Date: @Model.TransactionDate.ToString()</li>
                            <li>Message: <strong style="color:green;font-size:large;">@Model.TransactionMessage</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />

            @{
                if (Model.PaymentStatus == "AUTH")
                {

                    <a href="@Url.Action("DocumentUpload", "Company", new { ApplicationId=Model.ApplicationId})" class="btn btn-success" style="margin-left:40%">Procceed To Document Upload</a>
                }
                else if (Model.PaymentStatus == "INIT")
                {
                    <a href="@Url.Action("GenerateRRR", "Company", new { ApplicationId=Model.ApplicationId, Amount=Model.TotalAmount})" style="margin-left:40%" class="btn btn-warning">Generate RRR</a>
                }

            }

        </div>
    </div>
</div>




